<div class="search col s12 l6">
  <label [class.clear]="searchText" (click)="searchText = ''">
      <input id="search" class="roundedInput" [(ngModel)]="searchText" placeholder="Search">
  </label>
</div>

<div class="term" *ngFor="let term of terms | search: filter | filter : searchText; let idx = index">
  <button [style.backgroundColor]="idx % 2 == 0 ? '#F2F5F7' : '#F9FAFA'" class="accordion" (click)="showTerm($event)">
      <span class="term-title">{{term.title}}</span>
  </button>
  <div class="panel" [style.backgroundColor]="idx % 2 == 0 ? '#F2F5F7' : '#F9FAFA'">
      <p [innerHTML]="term.definition" class="term-definition"></p>
  </div>
</div>
<div style="margin: 10px" *ngIf="(terms | search: filter | filter : searchText).length === 0">
  No Results
</div>

