/* You can add global styles to this file, and also import other style files */

html *
{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
    background-image: url(assets/images/background_v2.png);
    background-attachment: fixed;
    background-position: bottom;
    -webkit-background-size: initial;
    -moz-background-size: initial;
    -o-background-size: initial;
    background-size: initial;
    background-repeat: no-repeat;
    /* overflow-y: scroll; */
    /* width: calc(100vw - 34px); */
  }

.capitalize {
    text-transform: capitalize;
}

footer {
  color: #00859B;
  text-align: center;
  font-size: 0.83em;
  font-weight: bold;
}

.mainHeader {
    /* color:#54656d; */
    display:inline-block;
    margin-top: 17px;
    font-size: 21px;
    font-weight: 500;
}

.altHeader {
    color: #00859B;
}

h2 {
    color:#54656d;
    font-size: 21px;
    font-weight: 500;
}

h3 {
    color: #54656D;
    font-size: 17px;
    font-weight: normal;
}

h2.small {
  line-height: 20%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h3.small {
  line-height: 10%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}